{% extends "layout2.html" %}
{% block content %}
<article class = "media content-section">
    <div class="media-body">
        <h3><a class ="article-title" >1º Álbum</a></h3>
        <p class ="article-content">
            When Dream and Day Unite:
            Lançamento: 6 de março de 1989
            Gravadora: MCA
            Formatos: CD, Cassete, LP
        </p>
    </div>
</article>
<article class = "media content-section">
    <div class="media-body">
        <h3><a class ="article-title" >2º Álbum</a></h3>
        <p class ="article-content">
            Images and Words:
            Lançamento: 7 de julho de 1992
            Gravadora: Atco
            Formatos: CD, Cassete, LP
        </p>
    </div>
</article>
<article class = "media content-section">
    <div class="media-body">
        <h3><a class ="article-title" >3º Álbum</a></h3>
        <p class ="article-content">
            Awake:
            Lançamento: 20 de setembro de 1994
            Gravadora: East West
            Formatos: CD, Cassete, LP
        </p>
    </div>
</article>
<article class = "media content-section">
    <div class="media-body">
        <h3><a class ="article-title" >4º Álbum</a></h3>
        <p class ="article-content">
            Falling into Infinity:
            Lançamento: 23 de setembro de 1997
            Gravadora: East West
            Formatos: CD, Cassete, LP
        </p>
    </div>
</article>
<article class = "media content-section">
    <div class="media-body">
        <h3><a class ="article-title" >5º Álbum</a></h3>
        <p class ="article-content">
            Metropolis Pt. 2: Scenes from a Memory:
            Lançamento: 26 de outubro de 1999
            Gravadora: Elektra
            Formatos: CD, Cassete, LP
        </p>
    </div>
</article>
<article class = "media content-section">
    <div class="media-body">
        <h3><a class ="article-title" >6º Álbum</a></h3>
        <p class ="article-content">
            Six Degrees of Inner Turbulence:
            Lançamento:  29 de janeiro de 2002
            Gravadora: Elektra
            Formatos: CD, Cassete, LP
        </p>
    </div>
</article>
<article class = "media content-section">
    <div class="media-body">
        <h3><a class ="article-title" >7º Álbum</a></h3>
        <p class ="article-content">
            Train of Thought:
            Lançamento:  11 de novembro de 2003
            Gravadora: Elektra
            Formatos: CD, Cassete, LP
        </p>
    </div>
</article>
<article class = "media content-section">
    <div class="media-body">
        <h3><a class ="article-title" >8º Álbum</a></h3>
        <p class ="article-content">
            Octavarium:
            Lançamento:  7 de junho de 2005
            Gravadora: Atlantic
            Formatos: CD, Cassete, LP
        </p>
    </div>
</article>
<article class = "media content-section">
    <div class="media-body">
        <h3><a class ="article-title" >9º Álbum</a></h3>
        <p class ="article-content">
            Systematic Chaos:
            Lançamento:  4 de junho de 2007
            Gravadora: Roadrunner
            Formatos:  CD, DVD, LP, DD
        </p>
    </div>
</article>
<article class = "media content-section">
    <div class="media-body">
        <h3><a class ="article-title" >10º Álbum</a></h3>
        <p class ="article-content">
            Black Clouds & Silver Linings:
            Lançamento:  23 de junho de 2009
            Gravadora: Roadrunner
            Formatos: CD, LP, DD
        </p>
    </div>
</article>
<article class = "media content-section">
    <div class="media-body">
        <h3><a class ="article-title" >11º Álbum</a></h3>
        <p class ="article-content">
            A Dramatic Turn of Events:
            Lançamento: 13 de setembro de 2011
            Gravadora: Roadrunner
            Formatos:  CD, DVD, LP, DD
        </p>
    </div>
</article>
<article class = "media content-section">
    <div class="media-body">
        <h3><a class ="article-title" >12º Álbum</a></h3>
        <p class ="article-content">
            Dream Theater:
            Lançamento: 24 de setembro de 2013
            Gravadora: Roadrunner
            Formatos: CD, DVD, LP, DD
        </p>
    </div>
</article>
<article class = "media content-section">
    <div class="media-body">
        <h3><a class ="article-title" >13º Álbum</a></h3>
        <p class ="article-content">
            The Astonishing:
            Lançamento:  29 de janeiro de 2016
            Gravadora: Roadrunner
            Formatos: CD, LP, DD
        </p>
    </div>
</article>
<article class = "media content-section">
    <div class="media-body">
        <h3><a class ="article-title" >14º Álbum</a></h3>
        <p class ="article-content">
            Distance over Time:
            Lançamento:  22 de fevereiro de 2019
            Gravadora: Inside Out Music
            Formatos: CD, LP, DD
        </p>
    </div>
</article>
{% endblock content %}