{% extends "layout.html" %}
{% block title %} Contactos {% endblock %}
{% block content %}
<article class = "media content-section">
    <div class="media-body">
        <h3><a class ="article-title" >Contactos</a></h3>
        <p class ="article-content">
            Nome: Tiago Gonçalves
            Número De aluno: 11018016
            Disciplina: Teoria Da Computação
            Email: tiagogoncalves97@gmail.com
        </p>
    </div>
</article>
<article class = "media content-section">
    <div class="media-body">
        <h3><a class ="article-title" >Sobre o Blog...</a></h3>
        <p class ="article-content">
           Este Blog foi Criado no âmbito da disciplina de Teoria da Computação,
           de modo a aprofundar conhecimentos sobre Flask, Html, Css entre outras coisas.
           Escolhi fazer um blog Sobre os Dream Theater, pois é a minha banda favorita e é
           sempre um gosto homenageá-los.
        </p>
    </div>
</article>
{% endblock %}
